/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-12-31, 16:30:29
    Author     : hao_ming
*/






#titleListDivID
{
    font-size: 1.5em;
    font-family: Arial,Console,Verdana,Courier New;
    float: right;
    background: #fff;
    padding: 2em;
    width:20%;
    
   
}

#textDivID
{
    float: right;
}

#titleDivID
{
    font-family: Arial,Console,Verdana,Courier New;
    font-size: 2em;
    text-align: center;
    display: block;
    float: right;
    background: #fff;
    padding: 2em;
    overflow: auto;
    
    
}


#reviewDivID
{
    font-family: Arial,Console,Verdana,Courier New;
    display: block;
    float: right;
    background: #fff;
    padding: 2em;
    overflow: auto;
    width: 80%;
}

#textDivID
{
    display: block;
    float: right;
    background: #fff;
    padding: 2em;
    overflow: auto;
    width: 80%;
   
}


#upSetDivID
{
    background: #999;
    width: 2em;
    height: 2em;
    text-align: center;
    font-size: 2em;
    padding-top: 0.5em;
    float: right;
}

#upNumDivID
{
    float: right;
}

#reviewsNumDivID
{
    float:right;
}

#reviewWriteDivID
{
    float:right;
}

#upWriteDivID
{
    float: right;
}